:host{
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: block;
}
.ghost_layer{
  all: unset;
  margin: 0;
  padding: 0;
  display: inline;
  width: fit-content;
  height: fit-content;
}
.thumbnail{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.object-contain{
  object-fit: contain;
}
.display_none{
  display: none;
}
.image_container{
  width: 80%;
  height: 80%;
  overflow: hidden;
  max-width: 80vmin;
  max-height: 80vmin;
  display: flex;
  position: relative;
  justify-content: center;
  box-shadow: 0 0 5px rgba(51, 51, 51, 0.608);
}
.uploader-container{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}


.no-image{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  cursor: pointer;
  p{
    font-size: 20px;
    color: #aaa;
    font-weight: 500;

  }
}
.customise-tab, .header-tab{
  display: flex;
  position: absolute;
  bottom: 0;
  padding: 10px;
  z-index: 2;
  cursor: pointer;
  width: 100%;
  height: fit-content;
  background: rgba( 255, 255, 255, 0.66 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  gap: 10px;

}
.header-tab{
  top: 0;
}

.justify_center{
  justify-content: center;
}
.material-symbols-outlined{
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 0.3s;
  font-size: 20px;
  // background: rgba(255, 255, 255, 0.353);
  // backdrop-filter: blur( 4px );
  // -webkit-backdrop-filter: blur( 4px );
  // border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 0 5px;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  &:hover{
    transform: scale(1.1);
  }

  &::after{
    content: attr(data-label);
    font-size: 12px;
    position: relative;
    font-family: poppins, sans-serif;
  }
  &.image-fit{
    margin-left: auto;
    &::after{
      font-size: 12px;
    }
  }
  &.add-photos{
    z-index: 1;
    left: 0;
    top: 0;
    font-size: 100px;
    color: #aaa;
    font-weight: 300;
  }
}
.download{
  all: unset;
  text-decoration: none;
  color: #000;
  margin-left: auto;
}

