.file_upload_button{
  border: none;
  padding: 10px 20px;
  background: rgb(255, 91, 91);
  color: aliceblue;
  cursor: pointer;
  width: fit-content;
}
h1{
  text-align: center;
  color: #673ab7;
}
.button_container{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.rotate{
  font-weight: 900;
  animation: rotate 0.5s linear infinite alternate;
}
@keyframes rotate {
  to{
    transform: rotate(90deg);
  }
}
.file_name{
  font-size: 14px;
  color: #777;
  margin-top: 5px;
  width: fit-content;
}
